/* main.css */

body{
  background-color: #d3c5c5;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
}

#info,
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  margin-top: 50px;
}

.buttons {
  justify-content: space-around;
  margin-bottom: 20px;
}

.buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  background: linear-gradient(to right, #000000, #0661a3db);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;  
  cursor: grabbing;
  transition: all 0.2s ease;
}

.buttons button:hover {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons button.active {
  background-color: #6b6666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: solid;
}

.buttons button:active {
  transform: translateY(2px);
}

.project-card,
.biocard,
.skillscard,
.linkscard {
  display: none;
}

.project-card.active,
.biocard.active,
.skillscard.active,
.linkscard.active  {
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.project-card.active h3,
.biocard.active h3,
.skillscard h3,
.linkscard.active h3 {
  margin-top: 0;
}

.project-card.active p,
.biocard.active p,
.skillscard p,
.linkscard.active p {
  margin-bottom: 5px;
}

.project-card.active a,
.biocard.active a,
.linkscard.active a {
  display: flex;
}

.project,
.biocard,
.skillscard,
.linkscard {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

@keyframes borderAnimation {
  0% {
    border-color: white;
  }
  50% {
    border-color: black;
  }
  100% {
    border-color: white;
  }
}

.project::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 3px solid;
  border-radius: 25px;
  animation: borderAnimation 1s linear infinite;
  z-index: -1;
}

.project:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.project-links {
  display: flex;
  justify-content: space-evenly;
}

.project-links a {
  text-align: center;
  text-decoration: none;
}

.skills-slider {
  margin: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill {
  flex: 1;
  text-align: center;
}

.skill-name {
  font-weight: bold;
}

.skill-level {
  margin-top: 5px;
  position: relative;
}

.skill-level-line {
  display: block;
  height: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px; 
}

.resource-link a{
text-decoration: none;
}