{% load reactpy static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tevin Aduma</title>
        <!--Specifies the character encoding for the HTML Document-->
        <meta charset="utf-8">
        <!-- Sets the viewport width to the device width and sets the initial zoom level to 1 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Microsoft Tile Color -->
        <meta name="msapplication-TileColor" content="#da532c">
        <!-- Theme Color for mobile browsers -->
        <meta name="theme-color" content="#ffffff">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!--Favicon -->
        <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <!-- Apple Touch Icon for iOS devices -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <!-- Favicon for modern browsers -->
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

        <!-- Animate.css library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <!--Google Sans font-->
        <link href="https://fonts.googleapis.com/css?family=Google+Sans&display=swap" rel="stylesheet">

        <!-- Playfair Display font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="app">
            <div class="row">
                <div id="info" class="content col-md-6">
                    <img src="{% static 'img/first.jpg' %}" class="profile-picture">
                    {% component "frontend.src.components.personalinfo.avatar" %}
                </div>
                <div id="content" class="content col-md-6">
                    <div class="buttons">
                        <button onclick="handleProjectClick()" class="active">Portfolio Showcase</button>
                        <button onclick="handleBioClick()">Bio</button>
                        <button onclick="handleSkillsClick()">Skills</button>
                        <button onclick="handleLinksClick()">Resource Links</button>
                    </div>
                    {% with projects=projects %}
                        {% component "frontend.src.components.projects.ProjectsList" projects=projects %}
                    {% endwith %}
                    {% component "frontend.src.components.bio.Bio" %}
                    {% component "frontend.src.components.skills.Skills" %}
                    {% with resources=resources %}
                        {% component "frontend.src.components.resources.Resources" resources=resources %}
                    {% endwith %}
                </div>
            </div>
        </div>
    
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>
        <!-- JavaScript Bundle with Popper -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

        <!-- Custom scripts and stylesheets -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <script src="{% static 'js/main.js' %}" defer></script>
    </body>
</html>